<div>
  <div class="flex justify-center mb-8">
    <div class="w-1/2 mx-auto bg-gray-200 rounded-md h-32">
      <img class="object-contain w-full h-full rounded-md" src="ad_banner_top.jpg" alt="Ad Banner Top">
    </div>
  </div>
<div class="mt-4 flex justify-center mb-8">
  <input class="w-1/2 px-4 py-2 mx-28 border border-gray-500 rounded-md" type="text" placeholder="Search documents">

</div>

  <!-- Ad Placement on the Left -->
 

<div class="mx-2 md:mx-28 lg:mx-28 sm:mx-28 mb-4 flex justify-center">
  <select class="  mx-auto md:w-1/6 lg:w-1/6  sm:w-1/6 px-4 py-2 w-2/3 border border-blue-500 ">
    <option value="">All Categories</option>
    <option value="Category 1">Category 1</option>
    <option value="Category 2">Category 2</option>
    <option value="Category 3">Category 3</option>
  </select>
</div>
<div class="mx-2 md:mx-28 lg:mx-28 sm:mx-28 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <!-- Document Cards -->
  <div class="w-1/4 mx-2 bg-gray-200 rounded-md h-40">
    <img class="object-contain w-full h-full rounded-md" src="" alt="Ad Banner Left">
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Author: Ahmed manai</p>
  </div>
  
  
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Category: Category 1</p>
    <!-- Additional document information -->
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/good-looking-cute-girl-with-books-at-the-table.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Category: Category 1</p>
    <!-- Additional document information -->
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="h-40">
      <img class="object-cover w-full h-full rounded-lg" src="../../assets/nature.jpg" alt="Document Image">
    </div>
    <h2 class="text-lg font-medium mb-2">Document 1</h2>
    <p class="text-gray-500 text-sm">Category: Category 1</p>
    <!-- Additional document information -->
  </div>
  <div class="w-1/4 mx-2 bg-gray-200 rounded-md h-40">
    <img class="object-contain w-full h-full rounded-md" src="ad_banner_right.jpg" alt="Ad Banner Right">
  </div>
</div>
</div>