<div class="p-8">
  <!-- Search Bar and Category Selector -->
  <div class="flex justify-center mb-8">
    <div class="w-1/2 mx-auto bg-gray-200 rounded-md h-32">
      <img class="object-cover w-full h-full rounded-md" src="https://images.unsplash.com/photo-1697382608813-df6eb720164f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZG9jdW1lbnRzfGVufDB8fDB8fHww" alt="Ad Banner Top">
    </div>
  </div>
  <div class="mt-4 flex justify-center mb-8">
    <input class="w-1/2 px-4 py-2 mx-28 border border-gray-500 rounded-md" [(ngModel)]="searchTerm" [ngModelOptions]="{ standalone: true }" (input)="search()" type="text" placeholder="Search documents">
  </div>
  <div class="mx-2 md:mx-28 lg:mx-28 sm:mx-28 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"> <!-- Increased gap for spacing -->
    <div *ngFor="let doc of documents.content" (click)="selectDoc(doc)" class="bg-gray-50 rounded-lg shadow-md p-4 cursor-pointer transition-transform transform hover:scale-105">
      <div class="flex items-center mb-4">
        <div class="h-20 w-16 mr-4 flex-shrink-0">
          <img class="object-contain w-full h-full rounded-md border border-gray-200" src="https://cdn-icons-png.flaticon.com/512/6747/6747196.png" alt="Document Icon">
        </div>
        <div class="flex-1">
          <h2 class="text-xl font-semibold text-gray-700">{{ doc.name }}</h2>
          <p class="text-gray-500 text-sm">{{ doc.type }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-8">
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md" (click)="previousPage()">Previous</button>
    <button class="ml-4 px-4 py-2 bg-blue-500 text-white rounded-md" (click)="nextPage()">Next</button>
  </div>

  <div *ngIf="isPDFModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-4 w-full max-w-4xl max-h-screen overflow-auto">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">{{selectedDoc?.name}}</h2>
        <button (click)="closePDFModal()" class="text-gray-500 hover:text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <pdf-viewer [src]="selectedDoc?.url" [render-text]="true" [original-size]="false" style="width: 100%; height: 70vh;"></pdf-viewer>
    </div>
  </div>
</div>
