/* Responsive grid */
@media (min-width: 640px) {
    .grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 768px) {
    .grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  /* Add this CSS code to your existing stylesheet or create a new one */

  /* Define the initial scale of the post */
  .post {
    transition: transform 0.3s ease;
  }

  /* Apply scale transformation on post hover */
  .post:hover {
    transform: scale(1.05);
    background-color: rgb(239, 239, 239);
  }
  @media (max-width: 640px)
  {
    .categories{
display: none;
    }
  }

    /* Banner container */
    .banner {
        background-color: #f7f7f7;
        padding: 1rem;
        text-align: center;
      }
    
      /* Banner text */
      .banner-text {
        color: #333;
        font-weight: bold;
      }
    
      /* Banner link */
      .banner-link {
        color: #007bff;
        text-decoration: none;
      }